:root {
  --font-family: "Avenir Next", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  --accent: #CD5654;
}

/* --------------------------------------------------------------- */
/*                              Pico                               */
[data-theme=light],
:root:not([data-theme=dark]) {
  --pico-primary: var(--accent);
  --pico-font-family: var(--font-family)
}
@media (min-width: 1280px) {
  :root {
    --pico-font-size: 118.75%;
  }
}
@media (min-width: 1536px) {
  :root {
    --pico-font-size: 118.75%;
  }
}

/* --------------------------------------------------------------- */
/*                              Core                               */
a {
  text-decoration: none;
}

/* --------------------------------------------------------------- */
/*                           Breadcrumb                            */
ul.breadcrumb li {
  padding-right: 0px;
}
/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  content: "/\00a0";
}

/* --------------------------------------------------------------- */
/*                            Gallery                              */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 5px;
}
.gallery img {
  max-height: 200px;
}
.gallery img:hover {
  opacity: 0.8;
}

/* --------------------------------------------------------------- */
/*                              Grid                               */
.grid {
  margin-bottom: var(--pico-spacing);
}
.grid p {
  margin: 0px;
}
.grid img {
  width: 100%;
  height: auto;
}