:root {
  --font-family: "Avenir Next", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  --accent: #CD5654;
  --gallery-spacing: 5px;
  /* --pico-font-size: 100%; */
}

/* --------------------------------------------------------------- */
/*                              Pico                               */
[data-theme=light],
:root:not([data-theme=dark]) {
  --pico-primary: var(--accent);
  --pico-font-family: var(--font-family);
  --pico-grid-row-gap: var(--gallery-spacing);
  --pico-grid-column-gap: var(--gallery-spacing);
}
[data-theme=dark] {
  --pico-font-family: var(--font-family);
}
@media (min-width: 1280px) {
  :root {
    --pico-font-size: 118.75%;
  }
}
@media (min-width: 1536px) {
  :root {
    --pico-font-size: 118.75%;
  }
}

/* --------------------------------------------------------------- */
/*                              Core                               */
a {
  text-decoration: none;
}
/* Add top margin to images that follow another image in main */
main:has(> img + img) img {
  margin-top: var(--pico-spacing);
}
/* Add top margin to paragraphs that follow an image in main */
main:has(> img + p) p {
  margin-top: var(--pico-spacing);
}
/* Add top margin to h2 that follow an image in main */
main:has(> img + h2) h2 {
  margin-top: var(--pico-typography-spacing-top);
}
/* Add top margin to h2 that follow a div in main */
main:has(> div + h2) h2 {
  margin-top: var(--pico-typography-spacing-top);
}

/* --------------------------------------------------------------- */
/*                            Gallery                              */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: var(--gallery-spacing);
  margin-bottom: var(--gallery-spacing);
}
.gallery img {
  max-height: 200px;
}
.gallery img:hover {
  opacity: 0.8;
}

/* --------------------------------------------------------------- */
/*                              Grid                               */
.grid {
  /* margin-bottom: var(--pico-spacing); */
  margin-bottom: var(--gallery-spacing);
}
.grid p {
  margin: 0px;
}
.grid img {
  width: 100%;
}
.grid img:hover {
  opacity: 0.8;
}