:root {
  --fg1: #272918;

  --bg1: #D7DAC7;
  --bg2: #FFFFFF;

  --accent: #FFA500;

  --border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--fg1);
  text-decoration: none;
}

body {
  background: var(--bg1);
}

nav {
  height: 50px;
  /* background: var(--bg2); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem max(10px, calc((100vw - 730px) / 2));
}

main {
  flex: 1;
  max-width: 760px; /* Set maximum width */
  margin: 0 auto; /* Center the main content */
  padding: 10px;
  margin-bottom: 75px;
}

.banner {
  margin-top: 30px;
  padding: 10px;
  border-radius: var(--border-radius);
  background: var(--bg2);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.banner-img {
  width: 100%;
  height: auto;
}

.banner-text {
  margin-top: 0px;
  padding: 0px;
  border-radius: var(--border-radius);
}

img {
  max-width: 100%;
  border-radius: var(--border-radius);
}